{% extends "master.html" %}

{% load static %}

{% block title %}
  My site - Sign Up
{% endblock %}


{% block content %}
<head>

</head>
<body>
  <div class="box" style="margin: 150px 700px">
    <h1 style="text-align: center"> Sign Up </h1>
    <form method=POST> {% csrf_token %}
      <div style="text-align: center" class="input_field" spellcheck="false">
        <input type="text" placeholder="Username" name="username" required> <i class='bx bxs-user user_s'></i>
        <br><br>
        <input type="password" placeholder="Password" name="password1" required> <i class='bx bxs-lock-alt password_s' ></i>
        <br><br>
        <input type="password" placeholder="Repeat Password" name="password2" required>
        <br><br>
      </div>
      <button class="button" style="padding: 8px 115px;" type="submit"> Sign Up </button>
      <br><br>
    </form>
  </div>
</body>
{% endblock %}