{% extends "master.html" %}

{% load static %}

{% block title %}
  My site - About
{% endblock %}


{% block content %}
<head>

</head>
<body>
  <div class="box" style="margin-left: 10px; margin-right: 10px; margin-top: 15px">
    <div class="title">
      <h1> About </h1>
      <h3> This Is My Django Test Site </h3>
      <div class="text">
        <p> Trying to add new features and learn how to use them!</p>
        <p>Hope you like it!)</p>
      </div>
    </div>
  </div>
</body>
{% endblock %}